<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GlobusDataPadEntities" connectionString="metadata=res://*/GlobusDataPad.csdl|res://*/GlobusDataPad.ssdl|res://*/GlobusDataPad.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=GlobusDataPad;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="GDPContainer" connectionString="metadata=res://*/GDP.csdl|res://*/GDP.ssdl|res://*/GDP.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=GDP;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>